.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card img {
  width: 100%;
  height: auto;
  border: 4px solid black;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #4CAF50; 
    color: white; 
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:disabled {
    background-color: #ddd; 
    color: #aaa; 
    cursor: not-allowed;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #45a049; 
  }
  

  .list-container {
    display: grid;
    gap: 20px;
    padding: 20px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  